.navbar {
    margin: 10px auto;
    box-shadow: 0px 1.5px 0px #dfdfdf;
}
.navbar-brand{
   text-transform: uppercase;
}
.mr-auto{
    justify-content: right;
    margin-left: 51%;
}   
.nav-link{
    margin-left: 50px;
    
    position: relative;
}

.dropdown:hover .dropdown-menu{
    display: block;
    justify-content: center;
    padding: auto;
    margin: auto;
}