

.navbar {
    margin: 10px auto;
}
.navbar-brand{
   text-transform: uppercase;
}
.mr-auto{
    justify-content: center;
    margin-left: 220px;
}   
.nav-link{
    margin-left: 55px;
    
    position: relative;
}

.dropdown:hover .dropdown-menu{
    display: block;
    margin: 0;
}




